# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

## ignore private workspace stuff added by Xcode4
xcuserdata
xcshareddata
project.xcworkspace
*.xcuserdata

## generic files to ignore
*~
*.DS_Store
*.swp
*.out

## my
tmp/*
libs/FFmpeg/*
output/*
plan

KxMovieExample/SampleMovies/*

# CocoaPods
Pods

